<div class="content-area">
  <main class="site-main">

    <header class="single-header kg-canvas">
      <h1 class="single-title">归档</h1>
    </header>

    <div class="box-selector container box-selector-cat hidden-lg hidden-xl">
      <button class="button box-selector-button" data-box="cat">分类</button>
      <button class="button button-secondary box-selector-button" data-box="tag">标签</button>
    </div>

    <div class="box-area container">
      <section class="box box-cat box-cat-width">
        <header class="box-header">
          <h2 class="box-title">分类 📦</h2>
          <div class="box-amount">
            <div class="box-amount-digit"><%=site.categories.length%></div>
          </div>
        </header>
        <article class="cat-list-box">
          <% if (site.categories.length) { %>
          <% site.categories.sort('length', -1).each(function(category){ %>
          <a class="cat-item" href="<%=url_for(category.path)%>">
            <span class="name"><%=category.name%></span>
            <span class="badge">(<%=category.posts.length%>)</span>
          </a>
          <% }); %>
          <% } else { %>
          <p>未检索到任何分类。</p>
          <% } %>
        </article>
      </section>

      <section class="box box-tag box-tag-width">
        <header class="box-header">
          <h2 class="box-title">标签 🏷️</h2>
          <div class="box-amount">
            <div class="box-amount-digit"><%=site.tags.length%></div>
          </div>
        </header>
        <article class="tag-list-box">
          <% if (site.tags.length) { %>
          <% site.tags.sort('length', -1).each(function(tag){ %>
          <a class="tag-item" href="<%=url_for(tag.path)%>">
            <span class="name">#<%=tag.name%></span>
          </a>
          <% }); %>
          <% } else { %>
          <p>未检索到任何标签。</p>
          <% } %>
        </article>
      </section>
    </div>
  </main>
</div>
